.district {
    width:20%;
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .district-number {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
  }
  .district-name {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 500;
  }
  @media screen and (max-width: 700px) {
    .district {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 10px;
    }
  
    .district-number {
      font-size: 30px;
      margin-right: 10px;
      font-weight: 500;
    }
    .district-name {
      font-size: 18px;
      margin-left: 10px;
      font-weight: 500;
    }
  }