.search-container{
    width: 500px;
    height: 48px;
    border-radius: 8px;
    background: #2f2f43;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    margin: 30px;
}

.search{
    background: transparent;
    border: none;
    outline: none;
    height: 40px;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}
.search-icon{
    color: #94a3b8;
    margin-right: 10px;
}

@media (max-width:768px){
    .search-container{
        width: 370px;
    }
}