nav{
    background:#1e1e30;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:16px 100px;
    color: #fff;
}
nav h1{
    font-family:'Bree Serif';
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
.india{
    color: blue;
    font-family:'Bree Serif';
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    margin: 5px 25px;
    font-size: 16px;
    font-weight: 600;
}
.menu-icon{
   width: 30px;
   height: 30px;
   display: none;
}
.menu-icon-cancel{
    display: none;
    list-style: none;
}

@media (max-width:768px){
    nav{
        padding: 10px 20px;
        height: 80px;
    }
    .menu-icon{
        display: block;
    }
    .menu-icon-cancel{
        display: block;
    }
    .nav-link{
        color: red;
    }
    nav ul{
        position: fixed;
        top:0;
        left:0;
        right: 0;
        background: blue;
        padding-top: 90px;
        z-index: -1;
    }
    .hide{
        display: none;
    }
    .nav-link{
        color: #94a3b8;
    }
}